{% extends "base_kuponia.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Resetear Contraseña" %}{% endblock %}

{% block content %}

<div class="col-sm-6 col-sm-offset-3">
<h1>{% trans "Resetear contraseña" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% blocktrans %} Ingresa tu email para iniciar el proceso de reposición de tu contraseña.{% endblocktrans %}</p>
<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form|crispy }}
  <input class="btn btn-primary" type="submit" value="{% trans 'Reset My Password' %}" />
</form>
</div>
{% endblock %}
