
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Kuponia - Sorpréndete con increíbles descuentos!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kuponia - Sorpréndete con increíbles descuentos">
    <meta name="author" content="">
    <link href="http://wbpreview.com/previews/WB0G1X0T6/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB0G1X0T6/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://wbpreview.com/previews/WB0G1X0T6/assets/app/css/style.css" rel="stylesheet">
    <meta property="og:title" content="Kuponia - Sorpréndete con increíbles descuentos" />
    <meta property="og:url" content="http://www.kuponia.cl" />
    <meta property="og:description" content="Conectate a nuestra promociones y ofertas." />
    <meta property="og:image" content="http://www.kuponia.cl/static/kuponia_theme/landing/images/large/7.jpg" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="landing-page">
    <div class="container">
        <div class="row">
            <div class="span5 offset3 well unit-bg text-center">
                <form>
                <legend>Kuponia - descuentos y promociones</legend>
                <p>
                    <img src="#" alt="logo"></p>
                <p>
                    <em class="desc">Kuponia - Sorpréndete con increíbles descuentos...</em></p>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span>
                            <input type="text" id="inputIcon" class="span4" placeholder="Enter you email" />
                        </div>
                        <span class="help-block">Recibe ofertas imperdibles</span>
                        <a href="http://www.kuponia.cl/koupons/" class="btn btn-large btn-primary">Continuar</a>
                    </div>
                </div>
                <small><a href="http://www.kuponia.cl/koupons/">Ya formo parte</a></small>
                </form>
            </div>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://wbpreview.com/previews/WB0G1X0T6/assets/jquery/js/jquery-1.8.1.min.js"></script>
    <script src="http://wbpreview.com/previews/WB0G1X0T6/assets/backstretch/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("http://www.kuponia.cl/static/kuponia_theme/landing/images/large/4.jpg");
    </script>
</body>
</html>
